[submodule "Assets/Cube/Core"]
	path = Assets/Cube/Core
	url = https://github.com/SirPolly/Cube.Core
[submodule "Assets/Cube/Gameplay"]
	path = Assets/Cube/Gameplay
	url = https://github.com/SirPolly/Cube.Gameplay
[submodule "Assets/Cube/Gameplay.SurfaceLibrary"]
	path = Assets/Cube/Gameplay.SurfaceLibrary
	url = https://github.com/SirPolly/Cube.Gameplay.SurfaceLibrary
[submodule "Assets/Cube/Gameplay.KinematiCharacterController"]
	path = Assets/Cube/Gameplay.KinematiCharacterController
	url = https://github.com/SirPolly/Cube.Gameplay.KinematiCharacterController
[submodule "Assets/Cube/Networking"]
	path = Assets/Cube/Networking
	url = https://github.com/SirPolly/Cube.Networking
[submodule "Assets/Cube/Networking.MasterServer"]
	path = Assets/Cube/Networking.MasterServer
	url = https://github.com/SirPolly/Cube.Networking.MasterServer
[submodule "Assets/Cube/Gameplay.DefaultGameStates"]
	path = Assets/Cube/Gameplay.DefaultGameStates
	url = https://github.com/SirPolly/Cube.Gameplay.DefaultGameStates
[submodule "Assets/Cube/Networking.Replica"]
	path = Assets/Cube/Networking.Replica
	url = https://github.com/SirPolly/Cube.Networking.Replica
[submodule "Assets/Cube/Networking.Transport"]
	path = Assets/Cube/Networking.Transport
	url = https://github.com/SirPolly/Cube.Networking.Transport
[submodule "Assets/UtilityAI"]
	path = Assets/UtilityAI
	url = https://github.com/SirPolly/UtilityAI
